.bod {
    font-family: 'Exo 2';
}

h1 {
    text-align: center;
    font-size: 50px;
}

h2 {
    text-align: center;
    font-weight: 100;
}

.bar {
    color: red;
    background-color: black;
    font-family: 'Exo 2';
}
/*
.login {
    color: white;
    font-size: 20px;
    margin-left: 92%;
    text-decoration: none;
    display: flex;
    position: relative;
    float: right;
    font-family: 'Exo 2';
}
.login:hover {
    color: red;
}
*/

.pics {
    height: 400px;
    width: 100%;
}

.sear {
    position: relative;
    margin-top: 5px;
    margin-left: 40px;
}

.about {
    position: relative;
    margin-left: 56%;
    text-decoration: none;
    color: red;
    white-space: nowrap;
}

.contact {
    position: relative;
    margin-left: 50px;
    text-decoration: none;
    color: red;
}

.butt {
    position: relative;
    background-color: red;
    padding: 12px 20px;
    text-decoration: none;
    border: 1.5px solid rgb(195, 0, 0);
    margin: 12px;
    border-radius: 5px;
    margin-left: 30px;
    font-family: 'Exo 2';
  }
  .butt:hover{
    background-color: rgb(195, 0, 0);
    color: rgba(0, 0, 0, 0.793);
  }
  .butt:active {
    color: black;
  }

  .items {
    color: red;
    font-weight: bold;
  }
