.bod {
    font-family: 'Exo 2';
}

h1 {
    text-align: center;
    font-size: 50px;
}

h2 {
    text-align: center;
    font-weight: 100;
}

.bar {
    color: red;
    background-color: black;
    font-family: 'Exo 2';
}

.login {
    color: white;
    font-size: 20px;
    margin-left: 90%;
    text-decoration: none;
    display: flex;
    position: relative;
    float: right;
    font-family: 'Exo 2';
}
.login:hover {
    color: red;
}

.search {
    position: relative;
    margin-left: 85%;
    text-align: center;
    display: flex;
    color: white;
    float: right;
}

.pics {
    height: 400px;
    width: 100%;
}
